<div>
<div class="card shadow p-3 mb-5 bg-white rounded innercard">
    <div class="card-header" style="text-align: center;border-color: rgba(22, 182, 245, 0.932);">
        <h4>{{text}}</h4>
    </div>
    <div style="height: 15px;"></div>
    <div class="cards-container">
        <div class="cards-form">
            <!-- [formGroup]="search" -->
            <form class="form" [formGroup]="search">
                <div class="searchfields">
                    <div class="mb-2" *ngIf="!showFiledsBasedOnRole">
                        <label>Member Id :</label>
                        <input type="text" [disabled]="true" class="inputfield" id="memberid" [ngModelOptions]="{standalone: true}" name="memberid" style="width: 300px; text-align: left;" placeholder="Enter MemberId"
                            [(ngModel)]="searchmembers.MemberId">
                    </div>
                    <div class="mb-2" *ngIf="showFiledsBasedOnRole">
                        <label>Member Id :</label>
                        <input type="text" class="inputfield" id="memberid" name="memberid" [ngModelOptions]="{standalone: true}" style="width: 300px; text-align: left;" placeholder="Enter MemberId"
                            [(ngModel)]="searchmembers.MemberId">
                    </div>
                    <div class="mb-2" *ngIf="showFiledsBasedOnRole">
                        <label>First Name :</label>
                        <input type="text" class="inputfield" [ngModelOptions]="{standalone: true}" style="width: 300px;text-align: left;" placeholder="Enter First name"
                            [(ngModel)]="searchmembers.FirstName">
                    </div>
                    <div class="mb-2" *ngIf="showFiledsBasedOnRole">
                        <label>Last Name :</label>
                        <input type="text" class="inputfield" [ngModelOptions]="{standalone: true}" style="width: 300px;text-align: left;" placeholder="Enter Last Name"
                            [(ngModel)]="searchmembers.LastName">
                    </div>
                    <div class="mb-2" *ngIf="showFiledsBasedOnRole">
                        <label>Physician : </label>
                        <select class="inputfield" [ngModelOptions]="{standalone: true}" style="margin-left: 20px;text-align: left;" id="physician" name="physician" 
                         [(ngModel)]="searchmembers.PhysicianId">
                            <option *ngFor="let p of PhysicianDetails" value={{p.physicianId}}>
                                {{p.physicianName}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-2" *ngIf="showFiledsBasedOnRole">
                        <label>Claim Id :</label>
  
                        <input type="text" class="inputfield" [ngModelOptions]="{standalone: true}" style="margin-left: 30px;text-align: left;" placeholder="Enter ClaimId"
                            [(ngModel)]="searchmembers.ClaimId">
                    </div>
                    <div class="form-group">
                        <button class="btn" style="background-color: grey; color: white;margin-left: 70px;"
                            (click)="Cancel()">Cancel</button>
                        &nbsp;
                        <button class="btn btn-primary" (click)="onSubmit()">Search</button>
                    </div>
                    </div>
                    </form>
                    
        </div>
    </div>
    <div>
        <br>
        <div style="width:100%; align-items: center;">

            <table class="table-responsive" style="width:100%;border: 2px solid rgba(22, 182, 245, 0.932);" *ngIf="searchMemberResult?.length > 0">
                <tr>
                    <th> Member ID </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Assigned Physician </th>
                    <th> Claim ID </th>
                    <th> Claim Amount </th>
                    <th> Submitted Date </th>
                    <th> Actions </th>
                </tr>
               
                    <tr *ngFor="let search of searchMemberResult">
                        
                        <td>{{search.MemberId}}</td>
                        <td>{{search.FirstName}}</td>
                        <td>{{search.LastName}}</td>
                        <td>{{search.PhysicianName}}</td>
                        <td>{{search.ClaimId}}</td>
                        <td>{{search.ClaimAmount}}</td>
                        <td>{{search.ClaimDate | date: 'MM-dd-yyyy'}}</td>
                        <td ><input *ngIf="search.ClaimId == null" type="checkbox" (onchange)="getRow(search)" (click)="getRowData(search)" /></td>
                        
                    </tr>
                
              </table>
              <br>
              <div *ngIf="searchMemberResult?.length > 0">
              <button class="btn btn-primary" (click)="CheckData()">
                Submit Claim
                </button>
                </div>
        </div>
    </div>
</div>

</div>