.heading
{
    background-color: rgba(22, 182, 245, 0.932);
    text-align: center;
    font-size: 12px;
}

  .innercard
  {
    width: 280px;
    height: auto;
    margin-left:500px;
    margin-top: 85px;
    margin-bottom: 25px;
  }
  .outercard
  {
    width: 500px;
    height: auto;
    margin-left:400px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(247, 243, 243);
  }
  .loginfields
  {
    margin-left: 10px;
  }
  .validation-message{
    color: red;
    font-size: small;
  }