<div class="card shadow p-3 mb-5 bg-white rounded innercard">
    <div class="card-header" style="text-align: center; border-color: rgba(22, 182, 245, 0.932);">
        <h4>{{text}}</h4>
    </div>
    <div style="height: 15px;"></div>
    <div class="cards-container">
        <div class="cards-form">

            <form class="form" [formGroup]="fglogin">
                <div class="loginfields">
                    <div class="mb-2">
                        <label style="font-size: 15px; margin-bottom: 5px;">User Name :</label>&nbsp;
                        <div>
                            <input type="text" class="form-control" placeholder="Enter UserName"
                                formControlName="loginusername" [(ngModel)]="loggedinuser.UserName">
                            <div *ngIf="submitted && fglogin.get('loginusername')?.hasError('required')"
                                class="validation-message">
                                User Name is required.
                            </div>

                        </div>

                    </div>
                    <div class="mb-2">
                        <label for="" style="font-size: 15px; margin-bottom: 5px;">Password : </label>

                        <div>
                            <input type="password" class="form-control" placeholder="Enter Password"
                                formControlName="loginpassword" [(ngModel)]="loggedinuser.Password">
                            <div *ngIf="submitted && fglogin.get('loginpassword')?.hasError('required')"
                                class="validation-message">
                                User Name is required.

                            </div>
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" (click)="onSubmit()">SIGN IN</button>
                    </div>
                </div>
            </form>
            <hr>
            <h6 class="loginfields">New User?</h6>
            <div class="form-group loginfields">
                <button class="btn btn-primary" (click)="Register()">Register</button>
            </div>
        </div>
    </div>
</div>